// Card theme
//
// .m-card--flat - Flat cards use a border to group content
// .m-card--material - Material cards use a distinctivre drop shadow to group content
//
// markup:
// <div class="m-card {$modifiers}">
//     <div class="m-card__richMedia">
//         <sg-insert>1.5.1-3</sg-insert>
//     </div>
//     <div class="m-card__txt">
//         <div class="m-card__supTxt">
//             <p class="u-typ--bit u-pb--1">Category</p>
//             <h1 class="u-typ--kilo u-pb--0">Title goes here</h1>
//         </div>
//         <div class="m-card__actions">
//             <div class="m-card__actions__btns">
//                 <a class="a-btn a-btn--flat rippleJS">Action</a>
//             </div>
//             <div class="m-card__actions__icons">
//                 <button class="m-card__actions__expand"><i class="m-card__actions__expand__icon a-icon">&#xE87E;</i></button>
//             </div>
//         </div>
//     </div>
// </div>
//
// sg-wrapper:
// <div style="width: 300px;">
//    <sg-wrapper-content/>
// </div>
//
// Styleguide 4.2.1.1

// styleguide:ignore:start

.m-card--material{
  @extend %tk-zLevel-1;
  border-radius: $tk-borderRadius;
 }

 .m-card--material-crisp{
   @extend .m-card--material;
   border-radius: 0px;
  }

.m-card--flat{
  border-radius: 0px;
  box-shadow: none!important;
  @include  baseline-border( "top", 1px, 0, $type: "margin" );
  @include  baseline-border( "bottom", 1px, 0, $type: "margin" );
  border-width: 1px 1px 1px 1px;
}

// Set theme Style
@if $theme-card == 'flat' {
    .m-card{ @extend .m-card--flat; }
}
@else if $theme-card == 'material' {
    .m-card{ @extend .m-card--material; }
}
@else if $theme-card == 'material-crisp' {
    .m-card{ @extend .m-card--material-crisp; }
}

// styleguide:ignore:end
