// Colors Palletes
// ================================

// Primary colour
// --------------------------------
$color-prime : $theme-color-prime;
$color-prime--drk : $theme-color-prime--drk;
$color-prime--lgt : $theme-color-prime--lgt;


// Accent Colour
// --------------------------------
$color-accent : $theme-color-accent;
$color-accent--drk : $theme-color-accent--drk;
$color-accent--lgt : $theme-color-accent--lgt;


// Greyscale
// --------------------------------
$color-grey1: $theme-color-grey1;
$color-grey2: $theme-color-grey2;
$color-grey3: $theme-color-grey3;
$color-grey4: $theme-color-grey4;
$color-grey5: $theme-color-grey5;
$color-grey6: $theme-color-grey6;
$color-grey7: $theme-color-grey7;
$color-grey8: $theme-color-grey8;


// Set defualt bg and text color
// --------------------------------
body{}

// styleguide:ignore:end
