// Blog Post
//
// markup:
// <div class="grid-wrap u-mb--12">
//     <div class="grid-col-12 grid-col-2@tablet grid-col-1@wide">
//             <div class="t-postMeta">
//                 <div class="m-mediaBlk">
//                     <img class="m-mediaBlk__thumb a-sqaure--sml u-img-circ" $a-sqaure--sml >
//                     <div class="m-mediaBlk__content">
//                         <h3 class="u-typ--base u-pb--0 u-txt-prime">Joe Blogs</h3>
//                         <p class="u-typ--byte u-txt-sec u-pb--0">Septempber 8, 2016</p>
//                         <p class="u-typ--byte u-txt-sec u-pb--0">Local news</p>
//                     </div>
//                 </div>
//             </div>
//     </div>
//     <div class="grid-col-12 grid-col-10@tablet grid-col-7@desktop grid-col-8@wide">
//         <main class="t-postMain">
//             <h1 class="u-typ--tera u-typ--serif u-pb--4">Vestibulum sodales pellentesque ligula nec pretium.</h1>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed utrum hortandus es nobis, Luci, inquit, an etiam tua sponte propensus es? Quid ait Aristoteles reliquique Platonis alumni? Sequitur disserendi ratio cognitioque naturae; Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. </p>
//             <p class="u-pb--4">Sed condimentum nibh et justo pharetra, eget feugiat ligula pretium. Cras ut porttitor lorem. Nam dapibus vehicula mauris in vestibulum. Praesent fringilla arcu leo, eget pharetra lorem sodales sed. Ut euismod sit amet nulla in euismod. Quisque maximus ut ligula sit amet consectetur. Mauris pharetra pulvinar tortor, suscipit rhoncus nisi interdum interdum. In condimentum nisi sed eros varius iaculis. Integer condimentum at nunc eget porta. Aenean venenatis placerat nibh, in interdum augue varius at. Donec efficitur, erat vel egestas porta, urna justo ultrices libero, a gravida justo lectus sed nibh. Mauris ac sem tellus. Aliquam et dictum velit. Nam eget eros auctor, finibus nisl sit amet, fermentum ligula. Fusce sodales maximus tristique.</p>
//             <img class="t-post-thumb--lft a-tall--lrg u-mb--4" $a-tall--lrg>
//             <p class="u-pb--4">Quisque in est nec augue varius luctus ac a mi. Vivamus porttitor tristique est. Nullam non iaculis justo. Quisque aliquet ut elit in tristique. Duis viverra sem a ante consequat commodo. Suspendisse porttitor elit id ex ullamcorper, non molestie justo dictum. Duis id enim at enim convallis pellentesque ut in urna. Duis convallis finibus lorem. Phasellus sodales eleifend neque, sit amet sollicitudin erat. Pellentesque et odio quis risus rutrum hendrerit non at nisl. Nulla tellus nunc, faucibus sed convallis scelerisque, lobortis a nulla. Quisque ut velit odio.</p>
//             <p>Aenean condimentum sapien at turpis dictum, pharetra venenatis quam facilisis. Nullam elementum, dui ac tempor gravida, nulla ex dictum magna, sit amet iaculis nulla nisi vitae augue. Vestibulum sodales pellentesque ligula nec pretium. Mauris fermentum velit vitae leo aliquet, eu aliquet elit finibus. Morbi fringilla fermentum libero, ac tincidunt orci vehicula vitae. Ut pretium arcu sit amet urna aliquet pulvinar. Pellentesque congue mi vitae ornare fringilla. Nullam in cursus diam. Praesent pulvinar ex vitae nunc lacinia, vel scelerisque risus malesuada. Cras malesuada vitae est quis sollicitudin. Donec malesuada lorem non erat ultricies, in tincidunt metus consequat. Aliquam sollicitudin gravida mauris, vel tincidunt metus tempor ac. Proin aliquet arcu vel ligula condimentum, a pretium mauris volutpat.</p>
//             <p>Etiam convallis arcu vitae neque aliquet, vel maximus dolor rhoncus. Quisque viverra, felis a ultricies scelerisque, dui leo elementum dui, sed vehicula metus elit ut tortor. Aliquam aliquet turpis et ultrices ullamcorper. Morbi vehicula pharetra eros, molestie suscipit libero ullamcorper ut. Donec sollicitudin neque sed neque mollis elementum in sed eros. Aenean id rutrum augue, vitae elementum diam. Mauris ornare vel mi in molestie. In ullamcorper vestibulum sodales.</p>
//             <img class="t-post-thumb--rgt a-sqaure--lrg u-mb--4" $a-sqaure--lrg>
//             <p>Nam non libero at odio mollis interdum bibendum id lorem. Morbi rutrum nulla fermentum arcu tincidunt laoreet. Nunc eu enim eget nibh convallis iaculis. Integer iaculis velit sed dolor sagittis, vel elementum risus mattis. Etiam consectetur vestibulum mattis. In hendrerit nulla lectus, nec ullamcorper diam congue et. Vestibulum eu metus nisl. Integer mi nulla, pharetra sit amet magna sed, volutpat suscipit nisi. Integer gravida semper mauris in ullamcorper. Etiam non urna cursus, efficitur tellus sed, ullamcorper tortor. Donec porttitor risus sed tortor ultrices, ut mattis eros efficitur. Aliquam ut neque vel eros convallis convallis. Vestibulum erat ex, facilisis vel urna nec, ullamcorper hendrerit diam. Donec cursus orci eros, tempor ullamcorper ante porttitor id.</p>
//             <p>In tristique nisl nec ex tempor, at vulputate arcu luctus. Sed venenatis tempor consectetur. Cras suscipit ligula id risus egestas, ut hendrerit risus lacinia. Nullam et sollicitudin risus. Nulla sagittis, leo vitae commodo viverra, massa quam eleifend nisi, vitae semper quam nunc a diam. Nunc a mauris tincidunt eros luctus egestas a ut eros. Integer vel risus at felis sollicitudin lobortis sit amet dictum arcu. Vivamus eget purus massa. Fusce dignissim pulvinar tellus, eu tempor urna fermentum ac. Mauris varius, felis ac varius consectetur, erat leo pulvinar lorem, in tempus odio ante a felis.</p>
//             <p>Ut sagittis ullamcorper semper. Curabitur ultrices arcu vitae nulla convallis congue. Vestibulum vitae auctor mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eu turpis molestie, accumsan odio ac, varius purus. Quisque lobortis consectetur eleifend. Maecenas suscipit ex elit, vitae consectetur nisl auctor vitae. Suspendisse malesuada sodales est vitae gravida. Aenean ultrices posuere rutrum. Pellentesque convallis elit ut nunc sagittis lobortis. Donec eleifend velit eget accumsan pretium. Morbi nec rhoncus augue. Sed dapibus rutrum lorem eget varius. Mauris dignissim, nibh quis pellentesque cursus, ipsum eros commodo enim, vitae eleifend tellus tortor vel enim. Sed aliquet pellentesque libero, eu vulputate lectus. Morbi turpis magna, auctor sed ligula suscipit, luctus ullamcorper leo.</p>
//         </main>
//     </div>
//     <div class="grid-col-12 grid-col-12@tablet grid-col-3@desktop">
//         <aside class="t-postAside">
//             <div class="t-postAside__widget">
//                 <input type="text" placeholder="Search"/>
//             </div>
//             <div class="t-postAside__widget">
//                 <h5 class="u-typ--kilo u-pb--2">About us</h5>
//                 <p>Mauris viverra venenatis convallis. Nulla sit amet orci bibendum, pharetra diam eu, facilisis turpis. Duis justo libero, efficitur quis lobortis in, pretium ac libero. Aliquam erat volutpat. Nullam commodo enim sed pellentesque pharetra. Aliquam vitae interdum urna. Nunc lorem leo, pulvinar vitae augue ut, consectetur volutpat sapien.</p>
//             </div>
//             <div class="t-postAside__widget">
//                 <h5 class="u-typ--kilo u-pb--2">About us</h5>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//             </div>
//             <div class="t-postAside__widget">
//                 <h5 class="u-typ--kilo u-pb--2">About us</h5>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//                 <sg-insert>4.4.2-1</sg-insert>
//             </div>
//         </aside>
//     </div>
// </div>
//
// Styleguide 6.2.4.1

.t-postMain {
    @include baseline-calc((
        padding-top: 16,
        padding-bottom: 16
     ));
}

.t-postAside{
    @include baseline-calc((
        padding: 3,
        margin-top: 16
    ));
    box-shadow: $tk-shadow--l2;
    @include atomic_color( 'grey6' );
    &__widget{
        @include baseline-calc(( margin-bottom: 6));
        &:last-child{ margin-bottom: 0; }
    }
}


.t-postMeta{
    @include baseline-calc(( padding-top: 16 ));
    // Overwride dewfualt media block sryleing
    img{
        flex: 50%!important;
        @include baseline-calc((
            height: 14,
            width: 15,
            max-width: 15,
            max-height: 14
        ));
    }
}


.t-post-thumb--lft{
    float: left;
    @include baseline-calc((
        margin-right: 5,
        margin-top: 2,
        margin-bottom: 3
    ));

    @include baseline-calc((
        margin-left: -8
    ), 'wide');
}


.t-post-thumb--rgt{
    float: right;
    @include baseline-calc((
        margin-left: 4,
        margin-top: 2,
        margin-bottom: 3
    ));
}
