// Form Elements
//
//
// Styleguide 4.5.2

// Labels
//
// markup:
// <label>Label</label>
//
// Styleguide 4.5.2.1

label{
  position: relative;
  display: block;
  width: 100%;
  color: get-txt-colour($color-grey8, 'secondary' );
  @extend %font-byte;
  @include baseline-calc((
    padding-left: 1
  ));
}


// Text field
//
// markup:
// <input type="text" placeholder="Text input"/>
//
// Styleguide 4.5.2.2

input{
  position: relative;
  display: block;
  width: 100%;
  background: transparent;
  color: get-txt-colour($color-grey8, 'secondary' );
  border-width: 0 0 2px 0;
  border-radius: 0;
  @include baseline-calc((
    padding: 1,
    margin-bottom: 1
  ));

  &:focus,&:active{ border-color: $color-prime; outline: none;}
}
